:root {
    --backColor: rgb(230, 230, 230);
    --leftPanelBox: 200px;
    --rightPanelBox: 200px;
    --backColor: rgba(0, 0, 0, 0.8);
    --textInactive: rgb(153, 153, 153);
    --textActive: whitesmoke;
    --enphasisColor: rgb(152, 201, 204);
    --optTime: 100ms;
    --controlsMargin: 55px;
    --controlsAutoWidth: calc(100% - var(--leftPanelBox) - var(--rightPanelBox) - var(--controlsMargin) * 2);
    --infoTransition: 1200ms ease-in-out;
    --viewTransition: 800ms ease-out;
    --barsTransition: 600ms ease-in-out;
    --componentLoad: 800ms ease-in-out;
    --flashLoad: 300ms;
    --barHeight: 34px;
    --lineWidth: 40px;
    --enphasisColor1: rgba(106, 161, 165, 1);
    --enphasisColor2: rgba(38, 157, 165, 1);
    --mainBackColor: rgb(220, 220, 220);
}

body {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--mainBackColor);
    overFlow: hidden;

    main {
        width: 100%;
        height: 100%;

        &:has(.controlBox .backBox .numberBox:nth-of-type(1) input[type="radio"]:checked) .componentBoxContainer .back {
            background-image: url("https://wallpapers.com/images/hd/3d-desktop-gray-squares-s67e2cx0nbsysjqk.jpg");
        }

        &:has(.controlBox .backBox .numberBox:nth-of-type(2) input[type="radio"]:checked) .componentBoxContainer .back {
            background-image: url("https://wallpapers.com/images/hd/brisk-wall-in-dark-colors-x4kg76xvn08t3jxg.jpg");
        }

        &:has(.controlBox .backBox .numberBox:nth-of-type(3) input[type="radio"]:checked) .componentBoxContainer .back {
            background-image: url("https://wallpapers.com/images/hd/palm-leaves-plants-digital-artwork-0zxjle8qpguq73cn.jpg");
        }

        &:has(.controlBox .backBox .numberBox:nth-of-type(4) input[type="radio"]:checked) .componentBoxContainer .back {
            background-image: url("https://wallpapers.com/images/hd/smooth-black-hillside-lbg5pll0q0lotvv3.jpg");
        }

        &:has(.controlBox .backBox .numberBox:nth-of-type(5) input[type="radio"]:checked) .componentBoxContainer .back {
            background-image: url("https://wallpapers.com/images/hd/blue-high-resolution-clouds-gclw6s3o5nrjo7em.jpg");
        }

        &:has(.leftControl:not(:checked)) {

            .controlsBoxColor {
                left: 10px;
                width: calc(var(--controlsAutoWidth) + var(--leftPanelBox) + var(--controlsMargin) - 10px);
            }

            .infoBoxColor {
                left: calc(var(--controlsMargin));
                width: calc(var(--controlsAutoWidth) + var(--leftPanelBox) + var(--controlsMargin) - var(--controlsMargin));
            }
        }

        .componentBoxContainer {
            width: 100%;
            height: 100%;
            box-shadow: 2px 10px 20px black;
            overflow: hidden;
            transition: var(--viewTransition);

            .back {
                width: 100%;
                height: 100%;
                background-color: var(--backgroundColor);
                background-position: center;
                background-size: cover;
            }

            .componentBox {
                z-index: 1;
                width: 100%;
                height: 100%;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                transition: 0s;
            }

            .maskOpen {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                transition: var(--componentLoad);
            }

            .maskClose {
                clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
                transition: var(--componentLoad);
            }

            .line {
                z-index: 2;
                top: 0px;
                width: 100%;
                height: 3px;
                opacity: 0;
                background-color: rgba(255, 255, 255, 0.777);
                box-shadow: 0 0 0px rgb(0, 255, 208), 0 0 0px rgb(0, 255, 208), 0 0 0px rgb(0, 255, 208);
                transition: top var(--componentLoad);
            }
        }

        .leftPanelBox {
            z-index: 10;
            left: 0;
            width: var(--leftPanelBox);
            height: 100%;
        }

        .controlsBoxColor,
        .infoBoxColor {
            z-index: 10;
            left: calc(var(--leftPanelBox) + var(--controlsMargin));
            background-color: var(--backColor);
            border-radius: 4px;
            transition: var(--barsTransition);
        }

        .controlsBoxColor,
        .controlBox {
            top: 10px;
            left: calc(var(--leftPanelBox) + var(--controlsMargin));
            width: var(--controlsAutoWidth);
            height: var(--barHeight);
        }

        .controlBox {
            z-index: 10;
            display: flex;
            justify-content: space-between;
            padding: 0 16px;

            .controls {
                display: flex;
                align-items: center;
                width: auto;
                height: 100%;
                color: var(--textInactive);
            }

            .colorBox:hover {

                .colorIcon,
                .text {
                    color: var(--enphasisColor);
                }
            }

            .colorBox:has(input:checked) {

                .colorIcon,
                .text {
                    color: var(--textActive);
                }
            }

            .colorBox .colorIcon {
                width: auto;
                height: auto;
                font-size: 22px;
            }

            .colorBox .text {
                margin-left: 6px;
                font-size: 14px;
            }

            .backBox .numberBox {
                width: 20px;
                height: 100%;
                font-size: 14px;
                font-style: italic;

                &:last-of-type {
                    width: auto;
                    height: auto;
                    font-size: 22px;
                    font-style: normal;
                    margin-left: 10px;
                }

                &:hover {
                    color: var(--enphasisColor);
                }

                &:has(input:checked) {
                    color: var(--textActive);
                }
            }

            .restartBackImage {
                cursor: pointer;
            }

            .viewsBox {
                justify-content: space-between;
                width: 120px;

                .view {
                    .iconView {
                        width: auto;
                        height: auto;
                        font-size: 20px;
                    }

                    &:hover {
                        color: var(--enphasisColor);
                    }

                    &:has(input:checked) {
                        color: var(--textActive);
                    }
                }
            }
        }
    }

    .infoBoxColor {
        bottom: 10px;
        width: var(--controlsAutoWidth);
        height: var(--barHeight);
    }

    .info {
        z-index: 10;
        bottom: 10px;
        display: flex;

        left: calc(var(--leftPanelBox) + var(--controlsMargin));
        display: flex;
        width: var(--controlsAutoWidth);
        height: var(--barHeight);
        overflow: hidden;

        .infoTitlesBox {
            display: flex;
            flex: 1;
            height: 100%;
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            transition: var(--infoTransition);

            .name,
            .family {
                display: flex;
                align-items: flex-end;
                width: fit-content;
                height: 80%;
                margin-bottom: 2px;
            }

            .name {
                font-size: 18px;
                color: whitesmoke;
                font-style: italic;
                padding: 0 14px;
            }

            .family {
                color: rgb(160, 160, 160);
                font-size: 14px;
                padding: 2px 0 2px 10px;
            }
        }

        .pauseBox {
            display: none;
            align-items: center;
            justify-content: right;
            width: 120px;
            height: 100%;
            opacity: 0;
            transition: var(--flashLoad);
        }

        .testModeBox {
            display: flex;
            align-items: center;
            justify-content: right;
            padding-right: 20px;
            width: 160px;
            height: 100%;
            opacity: 0;
            transition: 200ms;
        }
    }

    .rightPanelBox {
        z-index: 10;
        right: calc(-1 * var(--rightPanelBox));
        width: var(--rightPanelBox);
        height: 100%;
        transition: var(--barsTransition);
    }
}