:root {
    --backColor: rgb(230, 230, 230);
    --leftAside: 230px;
    --rightAside: 300px;
}

body {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    overFlow: hidden;

    main {
        width: 100%;
        height: 100%;
        /*         background-color: var(--backgroundColor);
        background-image: url("https://m.media-amazon.com/images/I/81V2hzNkcsL.jpg");
        background-size: cover;
 */

        .compContainer {
            width: 100%;
            height: 100%;
            border: 1px solid grey;
        }
    }

    .leftAside {
        left: 0;
        width: var(--leftAside);
        height: 100%;
    }

    .backsControlBox,
    .presentationBox {
        --offset: calc(100% - var(--leftAside) - var(--rightAside) - 100px);

        left: calc(50% - (var(--offset) / 2));
        width: var(--offset);
        border: 1px solid blue;
    }

    .backsControlBox {
        top: 10px;
        height: 34px;
    }

    .presentationBox {
        bottom: 10px;
        height: 60px;
    }

    .rightAside {
        right: 0;
        width: var(--rightAside);
        height: 100%;
        border: 1px solid red;
    }
}