:root {
    --backColor: rgb(230, 230, 230);
    --leftAside: 230px;
}

body {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    overFlow: hidden;

    main {
        width: 100%;
        height: 100%;
        /*         background-color: var(--backgroundColor);
        background-image: url("https://m.media-amazon.com/images/I/81V2hzNkcsL.jpg");
        background-size: cover;
 */

        .compContainer {
            width: 100%;
            height: 100%;
        }
    }

    .darkCrystal {
        backdrop-filter: blur(4px);
    }

    .leftAside {
        left: 0;
        width: var(--leftAside);
        height: 100%;
    }

    .rightAside {
        --asideWidth: 300px;
        --transition: 140ms;
        --menuWidth: 210px;
        --menuTransition: 800ms;
        --backDark: rgba(0, 0, 0, 0.8);

        right: 0;
        width: var(--asideWidth);
        height: 100%;
        border: 1px solid red;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg);
    }
}